<view
  class="weui-demo-dialog {{visible ? 'weui-demo-dialog_show' : ''}}"
  catchtouchmove="stopEvent" 
>
  <view class="weui-mask" bindtap="closeDialog"></view>
  <view class="weui-dialog__wrp" bindtap="closeDialog">
    <view class="weui-dialog" catchtap="stopEvent">
      <view class="weui-dialog__hd">
        <view class="weui-dialog__title">{{ title }}</view>
      </view>
      <view class="weui-dialog__bd">
        <slot></slot>
      </view>
      <view class="weui-dialog__ft">
        <view class="weui-dialog__btn__wrap">
          <button
            type="default"
            class="weui-dialog__btn weui-dialog__btn_default"
            bindtap="closeDialog"
          >取消</button>
        </view>
        <view
          wx:if="{{ buttontype === 'authorize' }}"
          class="weui-dialog__btn__wrap"
        >
          <button
            open-type="getUserInfo"
            type="primary"
            class="weui-dialog__btn"
            bindgetuserinfo="confirm"
          >确定</button>
        </view>
        <view
          wx:elif="{{ buttontype === 'phone' }}"
          class="weui-dialog__btn__wrap"
        >
          <button
            type="primary"
            open-type="getPhoneNumber"
            class="weui-dialog__btn"
            bindgetphonenumber="confirm"
          >确定</button>
        </view>
        <view
          wx:else
          class="weui-dialog__btn__wrap"
        >
          <button
            type="primary"
            class="weui-dialog__btn"
            bindtap="confirm"
          >确定</button>
        </view>       
      </view>
    </view>
  </view>
</view>